body {
    background: #2c2c2c;

}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
    position: fixed;
}

.list-group {
    position: absolute;
    margin-top: 200px;
    margin-left: 400px;
    width: 30%;

}

#items {
    position: absolute;
    margin-left: 400px;
    width: 70%;
}

.card:hover, .card:active {
    transform: scale(1.05);
    transition: all .6s;
}

#login, #register {
    position: absolute;
    margin-left: 400px;
    margin-top: 50px;
    text-align: left;
    width: 35%;
    color: white;
}

aside img {
    width: 80px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -10px;
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;

}

aside ul {
    list-style: none;
}

aside ul li {
    color: white;
    display: block;
    margin-top: 20px;
    transition: all .6s;
}

aside ul li:hover, aside ul a:hover {
    color: red;
    text-decoration: none;
    transform: scale(1.05);
}


main .items {
    float: left;
    color: black;
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
}

main .items h1 {
    font-size: 50px;
    color: white;
}

main .items p {
    max-width: 400px;
    margin: 20px auto;
}

.card {
    max-width: 240px;
}


#card_btn {
    float: right;
}


#new_item_form {
    color: white;
    position: absolute;
    margin-left: 400px;
    float: left;
}

.col {
    padding-top: 25px;
}

#btn_new_item {
    position: absolute;
    margin-left: 400px;
    margin-top: 25px;
}

.container-fluid {
    position: absolute;
    width: 70%;
    margin-left: 400px;
    text-align: center;
}