<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <!--Css-->
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <!--Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">



    <title> {% block title %}{% endblock %}</title>
</head>
<body>

<aside>
    <img src="{% static 'main/img/Shop_logo.png' %}" alt="Logo">
    <span class="logo">Online shop</span>
    <h3>Navigation</h3>
    <ul>
        <a href="{% url 'main' %}"><li><i class="fas fa-home">Main</i></li></a>
        <a href="{% url 'main' %}"><li><i class="fas fa-store">Shops</i></li></a>
        <a href="{% url 'main' %}"><li><i class="fas fa-question">About us</i></li></a>
        <a href="{% url 'profile_settings' %}"><li><i class="fas fa-user-cog">Update profile</i></li></a>
        {% for group in  request.user.groups.all %}
            {%  if 'Users' == group.name %}
                 <a href="{% url 'user_cart' %}"><li><i class="fas fa-cog">Cart</i></li></a>
             {% elif 'Shops' == group.name %}
                <a href=""><li><i class="fas fa-cog">Shop setting</i></li></a>
            {% endif %}
        {% endfor %}
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"><li><i class="fas fa-minus-circle">{{ user.username }} | Log out</i></li></a>
        {% else %}
            <a href="{% url 'register' %}" ><li><i class="fas fa-plus-circle">Registration</i></li></a>
            <a href="{% url 'login' %}"><li><i class="fas fa-plus-circle">Log in</i></li></a>
        {% endif %}
    </ul>
</aside>
{% include 'main/messages.html' %}
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>