{% extends "main/layout.html" %}

{% block title %}Shop now {% endblock %}

{% block content %}

<div class="items" id="items">
    <div class="row row-cols-md-5 g-100">

        {% for item in items %}
        <div class="col">
            <div class="card">
                {% if item.img == "" %}
                <img src="/static/main/img/no-image.jpg" class="card-img-top" alt="Product picture" height="240">
                {% else %}
                <img src="{{ item.img }}" class="card-img-top" alt="Product picture" height="240">
                {% endif %}


                <div class="card-body">
                    <p class="card-text">
                        <strong>{{item.product_name}}</strong><br>
                        Shop: {{item.shop_name}}<br>
                        Price: {{item.price}}$$$</p>

                    {% csrf_token %}

                    {% for group in request.user.groups.all %}
                    {% if 'Users' == group.name and user.is_authenticated and item.id not in cart %}
                    <form action="{% url 'add_to_user_cart' %}?item_id={{  item.id }}" method="post">
                        {% csrf_token %}
                        <button id="card_btn" class="btn btn-success">Add to cart</button>
                    </form>
                    {% elif 'Users' == group.name and user.is_authenticated and item.id in cart %}
                    <form action="{% url 'remove_from_user_cart' %}?item_id={{  item.id }}" method="post">
                        {% csrf_token %}
                        <button id="card_btn" class="btn btn-danger">Remove from cart</button>
                    </form>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}