{% extends "main/layout.html" %}


{% block title %}Shop now {% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div id="register" class="container py-5">
	<h1>Update profile</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}
		<button class="btn btn-primary" type="submit">Update</button>
	</form>
	<label for="delete_button">Do you want to delete your account?</label> <br>
	<button id="delete_button" onclick="location.href='delete_user'" type="button" class="btn btn-danger">Delete</button>

</div>
{% endblock %}