{% extends "main/layout.html" %}


{% block title %}Shop now {% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div id="register" class="container py-5">
    <h1>Register</h1>
    <form method="POST">
        {% csrf_token %}
        {{ register_form|crispy }}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="User_Shop_Radio" id="UserRadio" value="User" checked>
            <label class="form-check-label" for="UserRadio">
                User
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="User_Shop_Radio" id="ShopRadio" value="Shop">
            <label class="form-check-label" for="ShopRadio">
                Shop
            </label>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    <p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>
{% endblock %}