{% extends "main/layout.html" %}

{% block title %}Shop now {% endblock %}

{% block content %}
<div class="items" id="new_item_form">
    <h1>Listing an item for sale</h1>
    <form method="post" enctype="multipart/form-data" data-ajax="false">
        {% csrf_token %}
        <p>Product name: {{ form.product_name }}</p>
        <p>Price: {{ form.price }}</p>
        <p>Image of a product: {{ form.img }}</p>
        <button class="btn btn-primary" type="submit">Add item</button>
    </form>
</div>
{% endblock %}