{% extends "main/layout.html" %}

{% block title %}Shop now {% endblock %}

{% block content %}

<div class="items">
    <div class="card-group">
        {% for item in cart %}
        <div class="card">
            <img src="{{ item.img }}" class="card-img-top" alt="Product picture" height="240">
            <div class="card-body">
                <p class="card-text"><strong>{{item.product_name}}</strong></p>
                <p class="card-text">Shop: {{item.shop_name}}</p>
                <p class="card-text">Price: {{item.price}}$$$</p>
            </div>
            <div class="card-footer">
              <button id="card_btn" class="btn btn-danger">Remove from cart</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}